<header class="secondary" id="head">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>SCHOOL UNIFORM</h1>
            </div>
        </div>
    </div>
</header>


<div class="row">
    <section class="container" style="background: white; padding: 15px; margin-top: 15px">
        <div class="col-md-12">
            <h3>THE SCHOOL UNIFORM</h3>
            <p>
                Wearing the specified school uniform is compulsory. Wearing of the school uniform is not only a necessity, but a matter of pride. It brings about oneness amongst the children and responsibility in their attitude.
            </p>
            <br />
            <p>
                Boys must sport a neat look. Girls with short hair should wear white hair bands, hair longer than collar length should be tied back from the face. No jewellery except for a wrist watch and a simple pair of earring may be worn. The onus of sending the child to school in neat, well fitted uniform lies on the parents.
            </p>

            <h3>SUMMER UNIFORM</h3>
            <table class="table table-hover general-table responsive">
                <thead style="background: green; color: white;">
                    <tr>
                        <th>Class</th>
                        <th>Boys</th>
                        <th>Girls</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pre- Nursery</td>
                        <td colspan="2">Red T-shirt with blue collars and  blue shorts (same for boys and girls)</td>
                    </tr>
                    <tr>
                        <td>L.K.G onwards</td>
                        <td>Drab light brown shorts and white T-shirt</td>
                        <td>Drab light brown skirt and white shirt</td>
                    </tr>
                    <tr>
                        <td>Class VI onwards</td>
                        <td>Drab light brown shorts/trouser and white shirt</td>
                        <td>Drab light brown skirt and white shirt</td>
                    </tr>
                    <tr>
                        <td>Class VII onwards</td>
                        <td>Drab light brown shorts/trouser and white shirt</td>
                        <td>School Suit</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"><strong>COMMON FOR ALL : </strong>Black shoes, School socks (with red stripes), Belt with school logo, Red tie.</td>
                    </tr>
                </tfoot>
            </table>

            <h3>WINTER UNIFORM</h3>
            <table class="table table-hover general-table responsive">
                <thead style="background: green; color: white;">
                    <tr>
                        <th>Class</th>
                        <th>Boys</th>
                        <th>Girls</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pre- Nursery</td>
                        <td colspan="2">Red T-shirt with blue collars and  blue trouser (same for boys and girls)</td>
                    </tr>
                    <tr>
                        <td>L.K.G onwards</td>
                        <td>Grey shorts and brown checkered shirt</td>
                        <td>Grey skirt and brown checkered shirt </td>
                    </tr>
                    <tr>
                        <td>Class VI onwards</td>
                        <td>Grey shorts/trouser and brown checkered shirt</td>
                        <td>Grey skirt and brown checkered shirt</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"><strong>COMMON FOR ALL : </strong>Black shoes, School socks, Belt with school logo, Red tie.</td>
                    </tr>
                </tfoot>
            </table>
            <p>Wednesday- Students are to wear House uniform on Wednesdays. House uniform is according to the colour allotted to the Houses. </p>
            <br />
            <p><strong>NOTE: In winter students are to wear House T-shirt along with blue lower on Wednesdays.</strong> </p>
            <p>Mulberry House – Red T-shirt with Drab light brown shorts/ skirt/ trouser</p>
            <p>Moulsery House- Green T-shirt with Drab light brown shorts/ skirt/ trouser</p>
            <p>Maple House- Yellow T-shirt with Drab light brown shorts/ skirt/ trouser</p>
            <p>Mahogany House – Blue T- shirt with Drab light brown shorts/ skirt/ trouser</p>
        </div>
    </section>
</div>

