<header id="head" class="secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Vision &amp; Mission</h1>
            </div>
        </div>
    </div>
</header>

<!-- container -->
<section class="container" style="background: white;padding:15px; margin-top:15px">
    <div class="row">
        <!-- main content -->
        <div class="text-center">
            <img src="~/Images/logo.png" height="250" width="250" />
        </div>
        <div class="col-md-12">
            <h3>Our Vision</h3>
            <p>To nurture with care and develop inherent talent to bring out the best in each child.</p>

            <h3>Our Mission</h3>
            <p>The school aims to provide a learning environment that allows children to naturally absorb facts, acquire knowledge, discover their talent and thereby, bring out the best in each child. By imparting enduring values, recognizing student's individuality and celebrating diversity, the school caters to achieving their holistic development and optimal realization of their potential. We are a school with an Indian mind, an Indian soul and an Indian heart that celebrates the culture of excellence and is an embodiment of values, strength of character and confidence.</p>
        </div>
        <!-- /main -->
    </div>
</section>
<!-- /container -->
