@model DTO.LABURNUM.COM.DashBoardModel

<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Dashboard/Index"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>
<section class="panel panel-body">
    <div class="row">
        @if (new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.ADMIN))
        {<div class="col-md-3">
            <div class="button_home button_green dashboard_clock">
                <i class="fa fa-envelope fa-3x" style="float: left; margin: 0px -8px 5px 8px"></i>
                <span>Balance SMS :</span>
                <span>
                    @Model.SMSBalance
                </span>
            </div>
        </div>}
        @if (new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.FACULTY))
        {
            if (new LABURNUM.COM.Component.SessionManagement().GetIsClassTeacher())
            {
            <div class="col-md-3">
                <div class="button_home button_green dashboard_clock">
                    <i class="fa fa-envelope fa-3x" style="float: left; margin: 0px -8px 5px 8px"></i>
                    <span>Student Present :</span>
                    <span>
                        @Model.PresentStudent
                    </span>
                    <span>Student Absent :</span>
                    <span>
                        @Model.AbsentStudent
                    </span>
                </div>
            </div>
            }
        }
        @if (new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.PARENT) || new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.STUDENT))
        {
            <div class="col-md-3">
                <div class="button_home button_green dashboard_clock">
                    <i class="fa fa-envelope fa-3x" style="float: left; margin: 0px -8px 5px 8px"></i>
                    <span>Status :</span>
                    @if (Model.Status)
                    {<span>Present</span> }
                    else
                    {<span>Absent</span>}
                </div>
            </div>
        }
        @if (new LABURNUM.COM.Component.SessionManagement().GetLoginBy() == DTO.LABURNUM.COM.Utility.UserType.GetValue(DTO.LABURNUM.COM.Utility.EnumUserType.PRINCIPLE))
        {
            <div class="col-md-2">
                <div class="button_home button_green dashboard_clock">

                    <div>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-2">
            <div class="button_home button_green dashboard_clock">

                <div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="button_home button_green dashboard_clock">

                <div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="button_home button_voilet dashboard_clock">

                <i class="fa fa-clock-o fa-3x" style="float: left; margin: 0px -8px 5px 8px"></i>
                <div id="Date"></div>
                <div>
                    <b id="hours"></b>
                    <b id="point">:</b>
                    <b id="min"></b>
                    <b id="point">:</b>
                    <b id="sec"></b>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        OnDashBoardReady();
    });
</script>
