<div class="row" style="margin: 20px 40px 10px 40px; padding: 25px;">
    <div class="row">
        <h3>WHY DO WE COLLECT PERSONAL INFORMATION?</h3>
        <p class="small-margin">LaburnumPublicSchool.com requires personal information about Student for the purposes of operating, funding and maintaining LaburnumPublicSchool.com. This essentially covers the provision of a uniform handicapping system, the development of the sport and the financing of it.</p>
        <h3>WHAT SORT OF PERSONAL INFORMATION DO WE COLLECT?</h3>
        <p class="small-margin">LaburnumPublicSchool.com collects a limited amount of personal information about golfers including name, address, contact details, date of birth, gender, School Club membership &/or membership number.</p>
        <h3>HOW WE USE YOUR PERSONAL INFORMATION</h3>
        <p class="small-margin">The primary service of LaburnumPublicSchool.com is to provide a uniform national course rating and handicapping system. LaburnumPublicSchool.com relies on personal information to verify membership & handicap details and to assist in the funding of LaburnumPublicSchool.com by providing golfers with invitations to selected products and services.</p>
        <h3>PRODUCT OFFERS</h3>
        <p class="small-margin">LaburnumPublicSchool.com may use personal information to offer the student an exclusive range of other products and services that we believe they may be interested in. Where LaburnumPublicSchool.com sends golfers offers relating to the products and services of other organizations, it is LaburnumPublicSchool.com that mails this information. It should be noted that no commercial party has direct access to the database for their own use.</p>
        <p class="small-margin">Please keep in mind that if you take advantage of an offer from one of our business partners and become their customer, they may independently wish to send offers to you. In this case, you would need to inform them separately if you do not wish to receive further offers from them.</p>
        <h3>QUALITY OF INFORMATION</h3>
        <p class="small-margin">LaburnumPublicSchool.com relies on information supplied to us by each School Club, and to the best of our knowledge, LaburnumPublicSchool.com believes that the personal information of each Indian student stored in the central database is up-to-date and accurate.</p>
        <p class="small-margin">To ensure that this information remains as up-to-date as possible, golfers should inform their home club of any changes to any aspect of their personal information.</p>
        <h3>SECURITY OF PERSONAL INFORMATION</h3>
        <p class="small-margin">Personal information provided by the School Club to LaburnumPublicSchool.com is stored in a central database maintained by LaburnumPublicSchool.com and third parties authorized to do so in accordance with clause 7.</p>
        <p class="small-margin">The database may only be accessed by authorized parties and only under secure conditions. To ensure confidentiality for the purpose of verifying membership status and transferring handicap and score information, authorized personnel require logon codes and passwords.</p>
        <p class="small-margin">As an additional measure, all authorized parties with access to the database are further bound by contract to keep personal information confidential.</p>
        <h3>DECLINING PRODUCT OFFERS (“OPT-OUT”)</h3>
        <p class="small-margin">From time to time LaburnumPublicSchool.COM may use personal information to mail to golfers official LaburnumPublicSchool.COM correspondence related to the establishment, operation and funding of the system, such as special products and offers.</p>
        <p class="small-margin">LaburnumPublicSchool.COM provides all golfers with the choice as to whether they receive information about special products and offers that support LaburnumPublicSchool.com. Golfers not wishing to receive such material may “Opt-Out” by advising LaburnumPublicSchool.com in writing accordingly.</p>
        <strong>DISCLOSURE OF PERSONAL INFORMATION </strong>
        <p class="small-margin">LaburnumPublicSchool.com is committed to protecting the personal information of all golfers. This section explains the circumstances where we may disclose personal information to other organizations.</p>
        <h3>THIRD PARTIES</h3>
        <p class="small-margin">LaburnumPublicSchool.com may contract with other parties to provide services on our behalf, for example, mail-houses for the distribution of LaburnumPublicSchool.com correspondence related to LaburnumPublicSchool.com. In such circumstances, LaburnumPublicSchool.com will provide access to the LaburnumPublicSchool.com system to such third parties.</p>
        <p class="small-margin">In all circumstances where LaburnumPublicSchool.com contracts with other parties to provide services on our behalf, LaburnumPublicSchool.com will, prior to access of the LaburnumPublicSchool.com system, ensure that any such third party enters into a confidentiality agreement which protects the privacy of all of the personal information disclosed to them. Third parties which are provided access to the LaburnumPublicSchool.com system will also be required to comply with security requirements as described in clause 5.</p>
        <h3>OTHER DISCLOSURE OF INFORMATION</h3>
        <p class="small-margin">LaburnumPublicSchool.com may, as permitted by the Privacy Act, disclose personal information in order to comply with any applicable law or legally binding order of the court, government, semi-government authority or administrative or judicial body.</p>
        <h3>PERSONAL ACCESS TO YOUR INFORMATION</h3>
        <p class="small-margin">On written application LaburnumPublicSchool.com will provide the student with a copy of their information that it holds.</p>
        <h3>HOW LONG DO WE KEEP INFORMATION?</h3>
        <p class="small-margin">LaburnumPublicSchool.com keeps personal information for as long as it is necessary to provide the student with the products and services related to LaburnumPublicSchool.com. LaburnumPublicSchool.com will retain information for a reasonable period should an student cease to be a member of a School Club. Handicap records of golfers who have had a handicap in the LaburnumPublicSchool.com system will be kept on file indefinitely as a historical archive.</p>
    </div>

</div>
</div>
    </div>
