<div class="col-md-12 text-center red-font"><strong>For This Class and Admission Type Record Already Exist. <a href="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Fee/SeeAllFee">Click Here </a>to Update.</strong> </div>
