<header class="secondary" id="head">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>SCHOOL TIMING</h1>
            </div>
        </div>
    </div>
</header>

<div class="row">
    <section class="container" style="background: white; padding: 15px; margin-top: 15px">
        <div class="col-md-12">
            <div class="col-md-6">
                <img src="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Images/lpsschooltiming.jpg" alt="Laburnum Public School" class="img-rounded pull-right" style="width: 100%; height: 70%; margin-top: 5%" />
            </div>
            <div class="col-md-6">
                <h3>School Timing</h3>
                <p>
                    It is the responsibility of the parents to ensure that the child arrives to school on time each day. 
            <br />
                    Please note the school timings for summer and winter.
                </p>
                <h3>Summer : </h3>
                <p>
                    &bull;	Pre – Nursery to Class I  : 8:50 AM to 12:30 PM<br>
                    &bull;	Class II onwards  : 7:40 AM to 2:00 PM<br>
                </p>
                <h3>Winter : </h3>
                <p>
                    &bull;	Pre – Nursery to Class I  : 8:50 AM to 12:30 PM<br>
                    &bull;	Class II onwards  : 7:50 AM to 2:10 PM<br>
                </p>
            </div>
        </div>

    </section>
</div>
