@model DTO.LABURNUM.COM.AttendanceReporting.AttendanceReportResponseModel
@{int counter = 1;}

<section class="panel">
    <header class="panel-heading">
        <strong>Attendance Details </strong>
        <span class="tools pull-right">
            <button type="button" onclick="DownloadRecord('Attendance Report');" class="btn btn-primary adept-view">Download <i class="fa fa-download" aria-hidden="true"></i></button>
        </span>
    </header>

    <div id="divTable">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover general-table responsive">
                    <thead>
                        <tr>
                            <th width="6%">Name</th>
                            @{int index; int indexcounter = 1;}
                            @for (index = Model.StartDate.Day; index <= @Model.EndDate.Day; index++)
                            {
                                <th>@index</th>
                                indexcounter++;
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DTO.LABURNUM.COM.AttendanceReporting.StudentAttendance student in Model.StudentList)
                        {
                            <tr>
                                <td width="6%">@student.StudentName</td>
                                @foreach (DTO.LABURNUM.COM.AttendanceReporting.DayWiseAttendance item in student.AttendanceList)
                                {
                                    if (item.IsPresentAtMorning && item.IsPresentAtAfterLunch)
                                    {
                                    <td>P | P</td>
                                    }
                                    if (item.IsPresentAtMorning && !(item.IsPresentAtAfterLunch))
                                    {
                                    <td>P | A</td>
                                    }
                                    if (!(item.IsPresentAtMorning) && item.IsPresentAtAfterLunch)
                                    {
                                    <td>A | P</td>
                                    }
                                    if (!(item.IsPresentAtMorning) && !(item.IsPresentAtAfterLunch))
                                    {
                                    <td>A | A</td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

