@model DTO.LABURNUM.COM.CommonAttendanceModel


<div class="row">
    <div class="col-md-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="@LABURNUM.COM.Component.Constants.URL.WEBSITEURLWITHOUTSLASH/Dashboard/Index"><i class="fa fa-home"></i>Home</a></li>
            <li>Attendance</li>
            <li class="active">Submit Attendance</li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>

<section class="panel">
    <header class="panel-heading">
        Submit Attendance For Today
    </header>
    <div class="col-md-12 margin_top">
    </div>
    <div class="text-center">
        <header>
            Attendance Submitted For Today Click Here To See Report
        </header>
    </div>
</section>
