<header id="head" class="secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Chairman</h1>
            </div>
        </div>
    </div>
</header>

<!-- container -->
<section class="container" style="background: white;padding:15px;margin-top:15px">
    <div class="row">
        <!-- main content -->
        <section class="col-sm-12 maincontent">
            <h3>Chairman&acute;s Message</h3>
            <p>
                <img src="~/Images/chairman.png" alt="Laburnum Chairman" class="img-rounded pull-right" width="200" height="200" />

                Dear Parents and Guardians,
                <br /> <br /> It's my pleasure to welcome you to Laburnum Public School. The school provides a caring and conducive learning ambience to provide quality education and help students achieve excellence in academics, sports and cultural activities to become lifelong learners. We strive for excellence and holistic development of our students imbibing moral values to empower them in a real and tangible way and help them develop global citizenship skills. In pursuit of excellence, we have dedicated and qualified staff with belief that every child has inherent latent talent and their duty is to nurture this latent talent and hone their essential skills to help them gain knowledge and contribute to the formation of knowledge based society for the progress of our country. The school conducts effective training programmes for teachers to keep them in step with the changes in the field of education and help them use latest technology and teaching methodologies. I am thankful to the parents and school staff for their wonderful support without which success of school could not be achieved.
            </p>
            <br>
            <h5>Best Regards </h5>

            <p>
                Anil Kumar
                <br>
                Chairman
            </p>

            <h3>About the Chairman</h3>
            <p>The dynamic and charismatic chairman of Laburnum Public School is a man with a heart of gold. The school is the realization of his long cherished dream of serving the society. An extraordinary disciplined man, Mr Sharma feels that the importance of discipline and education in the life of an individual cannot be overstated. He believes that every child has the inherent capability to succeed, all they need is the right atmosphere which encourages discovery, a spirit of enquiry and the ability to communicate effectively.</p>

        </section>
        <!-- /main -->

    </div>
</section>
<!-- /container -->
