<header class="secondary" id="head">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>ABOUT THE SCHOOL</h1>
            </div>
        </div>
    </div>
</header>

<div class="row">
    <!-- main content -->
    <section class="container" style="background: white;padding:15px;margin-top:15px">
        <h3>About The School</h3>
        <p>
            <img src="~/Images/banner-main.png" alt="Laburnum Public School" class="img-rounded pull-right" width="300" height="178"/>
            LABURNUM PUBLIC SCHOOL (Coeducation) was founded in 2013. We opened it in the memory of Pt. Mahavir Prasad who really wants to spread the awareness of education among the people and educate the upcoming generation. So we present it as a Pt. Mahavir Prasad Education Memorial Society. We have also opened the Triveni Devi Education Trust. We aim to provide education in the ideal environment, surrounded by greenery and to create a next - generation leaders with high ideals and humanity.
        </p>
        <p>It is widely agreed that there is no place like private school to obtain a superior quality education, and our original educational method is well received. Combining both homely warmth and strict discipline in our school community, brings about a mutual respect relationship with teachers while enhancing students character developments.</p>
        <p>Our education system focuses on individual capability and improves fundamental skills by individualized instruction. This method helps to develop a sense of self - achievement and enables our students to attend their choice of universities.</p>

        <h3>E-DAC</h3>

        <p>Laburnum Public School has adopted an innovative experiential -based learning curriculum for our students of class Ist -Vth. The E-DAC curriculum empowers LPS teachers to teach CBSE-approved syllabus through engaging activities and demonstrations, instead of cramming.</p>

        <h3>The Student Council</h3>
        <p>The 21st century presents many new challenges for. In an interconnected, fast moving world, we need to learn cognitive flexibility, stress tolerance, and divergent thinking. In a competitive world, we need leaders with novel ideas, who are willing to take risks, inspire and motivate, and build new strategic partnerships to address global challenges. A leader is a motivation for others and inspires individuals to aim high and attain that aim. Keeping this in mind the School offers following positions in the School Council-</p>
        <p>
            &bull;	Head Boy<br>
            &bull;	Head Girl<br>
            &bull;	Vice Head boy<br>
            &bull;	Vice Head girl
            <br>
            &bull;	Sports Captain<br>
            &bull;	Cultural Secretary<br>
            &bull;	Prefects for all Houses<br>
            &bull;	Class Monitors
        </p>

    </section>
</div>
