<div class="row col-md-12">
    <h1 class="page-header">About Us</h1>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row col-md-4">
    <ul class="pull-left">
        <li>Laburnum Public School (Coeducation) was founded in 2013. We Opened it in the  memonry of Pt. Mahavir Prasad Who really want to spread the awarness of the education amount the people and educate the upcoming generation. So we present it as Pt. Mahavir Prasad Education Memorial Society.  We have also to provide education in the ideal enviorment, surrounded by greenery and to create a next generation leaders with high ideals and humanity. </li>
    </ul>
</div>
