<header id="head" class="secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>FROM THE PRINCIPAL DESK</h1>
            </div>
        </div>
    </div>
</header>

<!-- container -->
<div class="row">
<section class="container" style="background: white;padding:15px;margin-top:15px">
    
        <!-- main content -->
        <section class="col-sm-12 maincontent">
            <h3>Principal&acute;s Message</h3>
            <p>
                <img src="~/Images/principal.png" alt="" class="pull-right" width="300" height="220" />
                Laburnum welcomes you amidst a safe and sensitive environment where each child is treated as a unique individual. As the navigator of this flagship of learning, our main thrust is on discovering, developing and chiseling the talent inherent in the students. Through a well-designed academic curriculum co-curricular programme, we wish to instill and sharpen skills in our students, raise them into academically brilliant achievers and good, civic-minded human beings.
            </p>
            <p>Through a safe school environment and holistic academic culture, we wish to synergize value- based education and thus create an intellectually powered atmosphere where each child is an active participant and contributor to the learning process.</p>

            <br>
            <h5>Best Regards </h5>

            <p>
                Priya Chauhan
                <br>
                Principal
            </p>

            <h3>About the Principal</h3>
            <p>An efficacious administrator and an experienced academician, Ms. Priyaa Chauhan has worked in different capacities in prestigious schools like Amity International School, Lotus Valley International School and K.R Mangalam World School. She believes equally in student empowerment and teacher enrichment. In her past tenure as a teacher, coordinator and Head- Mistress, she has navigated her students towards success in the academic realm, and at the same time, has mentored them with practical and judicious career guidance. She enjoys an excellent rapport with the students and parents and, at the same team is well-liked and respected by her seniors, peers and juniors. Progressive and professional, she mentored many CCE programme and workshops with CBSE. In order to give global exposure to the students and add international and multi-layered dimensions to school projects, she has played an integral part of ISA team in Shalom Hills International School to execute the seven approved action plan for ISA Accreditation by British Council.</p>

        </section>
        <!-- /main -->
    
</section>
    </div>
<!-- /container -->
